<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.vibhav2k17">

    <uses-sdk
        android:minSdkVersion="15"
        tools:overrideLibrary="android.support.customtabs" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".events"
            android:label="Events"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".placement_fever"
            android:label="Placement Fever"
            android:parentActivityName=".events"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".events" />
        </activity>
        <activity
            android:name=".codeathon"
            android:label="CodeAthon "
            android:parentActivityName=".events"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".events" />
        </activity>
        <activity
            android:name=".Online"
            android:label="Virtual Stock"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".events" />
        </activity>
        <activity
            android:name=".Paper"
            android:label="Paper Presentation "
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".events" />
        </activity>
        <activity
            android:name=".Treasure"
            android:label="Treasure Hunt"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".timetable"
            android:label="Time Table"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Workshop"
            android:label="WORKSHOP" />
        <activity
            android:name=".Gaming"
            android:label="Gaming" />
        <activity android:name=".technical"
            android:label="Technical"
            android:parentActivityName=".events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".events" />
        </activity>
        <activity
            android:name=".aav"
            android:label="Aavishkar"
            android:parentActivityName=".technical"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".technical" />
        </activity><activity
        android:name=".bor"
        android:label="Brain O Riddle"
        android:parentActivityName=".technical"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".technical" />
    </activity><activity
        android:name=".poc"
        android:label="Pirates Of Cicuit"
        android:parentActivityName=".technical"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".technical" />
    </activity><activity
        android:name=".vitri"
        android:label="Vitricity"
        android:parentActivityName=".technical"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".technical" />
    </activity>

    </application>

</manifest>